{% extends "network/layout.html" %}

{% block body %}
    <h1>Following</h1>
    {% for post in posts %}
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <h3 class="profile" data-id="{{ post.user.id }}" onclick="redirect({{ post.user.id }})">{{ post.user.username }}</h3>
                <p>{{ post.content }}</p>
                <p style="color: #969696;">{{ post.timestamp }}</p>
                <i class="fas fa-heart" style="color: red;"></i> <span style="color: #969696;">0</span>
            </div>
        </div>
    {% empty %}
        <p>No posts found.</p>
    {% endfor %}
    {% if posts.has_other_pages %}
        <nav style="margin-top: 20px;">
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}